
  <div class="" ng-controller="MainCtrl">

    <h3 class="">Welcome To The  Transport Schedule App <span class="text-success"></span>!</h3>

    <div class="row marketing clearfix ">
    <div class="alert alert-info" >Select stations to see schedule!</div>
    </div>

    <div class="row">
      
    <div class="col-md-6">
    <div class="form-group" >
      <label for="select1">Select Starting Station</label>
       <select class="form-control" id="select1" ng-model="start_station" ng-change="get_arrival_stations(start_station)" ng-options="station[0] for station in start_stations">
        <option value="" disabled selected>Select starting station first...</option>

       </select>
     </div>
    </div>
    
    <div class="col-md-6">
       <div class="form-group">
         <label for="select2">Select Arrival Station</label>
         <select class="form-control" id="select2"  ng-model="arrival_station"  ng-change="get_schedule(arrival_station)"ng-options=" station for station in arrival_stations">
          <option value="" disabled selected>Then select destination...</option>
         </select>
      </div> 
    </div> 
  
    </div>
   
  <div class="table-responsive">
  <table class="table table-striped table-hover">
    <caption>Current Schedule</caption>
  <tbody>
    <tr>
     <th>Next Trains To {{dest_station[0] || 'Destination'}} Leave In : </th>
  </tr>
  
   <tr ng-repeat="time in departure_times">
    
    <td>{{time}} Minutes</td>
    
  </tr>
  </tbody>
  </table>

  </div>

  </div>
  </div>